<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>863289356590-oo36m8adg2qe07q57jd4f9et2aie2nij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.863289356590-oo36m8adg2qe07q57jd4f9et2aie2nij</string>
	<key>API_KEY</key>
	<string>AIzaSyAW9Le8Sv49dRt_gVqEEfkRw1DgAP4Mv-0</string>
	<key>GCM_SENDER_ID</key>
	<string>863289356590</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.takasla</string>
	<key>PROJECT_ID</key>
	<string>swapla-deneme-1</string>
	<key>STORAGE_BUCKET</key>
	<string>swapla-deneme-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:863289356590:ios:5ec75459b4db42d8bf8abf</string>
</dict>
</plist>